.cp-folder-item {

    width: 120px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    user-select: none;


    transition: 0.1s background-color;




    .cp-item-box {
        width: 100%;
        aspect-ratio: 1;
        // border: 1px solid #aaaaaa;

        border-radius: 5px;


        display: flex;
        justify-content: center;
        align-items: center;

        box-shadow: 0px 0px 6px -2px #6f848d;

        transition: 0.2s box-shadow;

        background-color: white;

        .cp-item-icon {
            font-size: 40px;
        }
    }

    .cp-item-title {
        max-width: 100%;
        width: 100%;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;

        font-size: 0.8rem;
        text-align: center;
        margin-top: 6px;
    }


    &[data-drag-active=true],
    &[data-selected=true],
    &:hover {
        &[data-type=folder] {
            .cp-item-box {
                box-shadow: 0px 0px 4px 3px #1e081b;
            }
        }

        &[data-type=file] {
            .cp-item-box {
                box-shadow: 0px 0px 4px 3px #6f848d;
            }
        }
    }


    &[data-shared=true] {
        .cp-item-box {
            position: relative;
            &::before {
                content: '\f0c1';
                font-family: 'Font Awesome 6 Free';
                font-weight: 900;
                padding-right: 4px;
                font-size: 12px;

                position: absolute;
                top: 10px;
                right: 10px;
                padding: 0;

            }
        }

    }


    &[data-type=folder] {
        .cp-item-box {
            box-shadow: 0px 0px 6px -2px #1e081b;
        }
    }

    &[data-type=file] {
        .cp-item-box {
            box-shadow: 0px 0px 6px -2px #6f848d;
        }
    }





}


body[data-device=mobile] {
    .cp-folder-item {
        // width: calc(100% / 3);
        width: calc(33.3%);
        padding: 10px;
    }
}