.cp-install-page.cp-install-success {


    .cp-content {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .cp-title {
            font-size: 24px;
        }

        .cp-subtitle{
            color: #515151;
        }


        .cp-action {
            margin-top: 20px;

            .cp-move-home-bt{
                text-decoration: none;
                color: initial;
                width: 200px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;
                
                border: 1px solid #515151;
                border-radius: 40px;
            }
        }
    }

}