@use '../../../../assets/style/common/variable.scss' as variable;

.cp-edit-detail-item {
    .cp-detail-value {
        .cp-detail-view {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            span {
                padding-inline: 4px;
            }

            .cp-detail-action {
                .cp-edit-icon {
                    cursor: pointer;
                    padding: 4px;
                    // margin-left: 4px;
                }
            }
        }

        .cp-edit-view {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            input {
                border: 1px solid #aaaaaa;
                border-radius: 4px;
                padding: 4px;
                outline: none;
            }

            .cp-detail-action {
                button {
                    border: 1px solid #aaaaaa;
                    border-radius: 4px;
                    padding: 4px;
                    margin-left: 4px;
                    cursor: pointer;
                }
            }
        }
    }
}



@media screen and (max-width : #{variable.$screen-width-mobile}) {
    .cp-edit-detail-item {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .cp-detail-value {
            width: 100%;

            .cp-detail-view {
                justify-content: flex-start;

                span {
                    padding: 0px;
                    padding-right: 10px;
                }
            }

            .cp-edit-view {
                margin-top: 4px;
                width: 100%;

                display: block;
                // grid-template-areas: 'input button';
                // grid-template-columns: auto 50px;

                // justify-content: initial;

                input {
                    // grid-area: input;
                    padding: 10px;
                    width: 100%;
                }

                .cp-detail-action {
                    // grid-area: button;
                    margin: 0;


                    button {
                        margin: 0;
                        margin-top: 10px;
                        width: 100%;
                        padding: 7px;

                        // border: 1px solid #aaaaaa;

                    }
                }
            }

        }
    }
}