@use '../../../common/variable.scss' as variable;

.cp-folder-setting-page {
    .cp-page-header {
        .cp-header-title {
            font-size: 20px;
            font-weight: bold;
            
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;

            .cp-header-icon {
                margin-right: 10px;
            }
        }


    }

    .cp-page-content {

        width: 100%;

        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 50% 50%;

        gap: 10px;
        margin-top: 10px;


        @media screen and (max-width : #{variable.$screen-width-mobile}) {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            .cp-content-box {
                width: 100%;


                // .cp-detail-item{

                //     flex-direction: column;
                //     align-items: flex-start;

                //     .cp-detail-title{
                //         width: 100%;
                //     }

                //     .cp-detail-value{
                //         width: 100%;
                //         text-align: start;
                //     }
                // }
            }
        }


        .cp-content-box {
            // border: 1px solid black;
            box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.7);
            border-radius: 7px;
            padding: 10px;



        }
    }
}