.cp-remove-item-modal {
    width: 400px;
    height: fit-content;
    background-color: white;
    box-shadow: 0 0 6px -2px #000000b3;
    border-radius: 5px;




    .cp-modal-header {
        padding-inline: 20px;
        padding-top: 20px;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 0px;
    }


    .cp-modal-content {
        padding-inline: 20px;

        padding-block: 20px;
    }


    .cp-modal-footer {
        // border-top: 1px solid #dadada;
        // background-color: #f0f0f0;
        padding: 10px 20px;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 6px;

        button {
            width: 100px;
            border: 1px solid #aaaaaa;
            border-radius: 5px;
            padding: 5px 10px;
            background-color: white;
            cursor: pointer;
            font-family: var(--cp-global-font-family);

            &.cp-cancle-bt {
                background-color: transparent;
                border: none;
                width: fit-content;
            }

            &.cp-submit-bt {
                background-color: #4888eb;
                font-weight: bold;
                color: white;
            }
        }
    }





}



body[data-device=mobile]{
    .cp-remove-item-modal{
        width: 95vw;
        // height: calc(var(--vh) * 95);
    }
}