.cp-layout.cp-external-layout.cp-signin-layout {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    background: #1c5166;
    background: linear-gradient(147deg, #acc2cb80 0%, rgba(57, 130, 71, 0.5) 50%, rgba(179, 167, 64, 0.5) 100%);


   
}