// TextHr
.cp-text-hr {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(105, 105, 105);

    font-size: 14px;



    &::before {
        content: ' ';
        width: 100%;
        height: 1px;
        background-color: rgb(185, 185, 185);
        display: block;
        margin-right: 8px;
    }


    &::after {
        content: ' ';
        width: 100%;
        height: 1px;
        background-color: rgb(185, 185, 185);
        display: block;
        margin-left: 8px;
    }
}


//GroupBox 
.cp-group-box {
    // display: flex;
    // gap: 8px;
    background: white;
    // padding: 8px;
    border-radius: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    &[hidden] {
        display: none;
    }

}


//#region Global Modal

.cp-global-modal {
    position: absolute;
    top: 0px;
    left: 0px;

    display: grid;
    grid-template-areas: 
        'header'
        'content'
        'footer'
    ;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;

    padding-inline: 24px;

    .cp-modal-header {
        grid-area: header;
    }

    .cp-modal-content {
        grid-area: content;
    }

    .cp-modal-footer {
        grid-area: footer;
    }   

    
}

//#endregion Global Modal





//#region Common Page

.cp-page {
    height: 100%;
    display: grid;
    grid-template-areas: 
        'header'
        'content'
        'footer'
    ;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;

    .cp-page-header {
        grid-area: header;
    }

    .cp-page-content {
        grid-area: content;
    }

    .cp-page-footer {
        grid-area: footer;
    }   

    
}

//#endregion Common Page



//#region Common Layout

.cp-layout {
    height: 100%;
}

//#endregion Common Layout



