.cp-file-shared-url-detail-item{
 
    .cp-shared-url-box{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        // gap: 10px;

        .cp-shared-copy-bt{
            cursor: pointer;
        }


        .cp-shared-link{
            .cp-shared-link-icon{
                margin-right: 6px;
            }
        }
    }
}