.cp-fast-add-file-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

    .cp-modal-backdrop {
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.1);

    }

    .cp-modal-box {
        width: 90%;
        max-width: 400px;
        height: 90%;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        border-radius: 5px;

        box-shadow: 0 0 6px 1px gray;


        display: grid;
        grid-template-rows: minmax(auto, 40px) minmax(auto, calc(100% - 100px)) minmax(auto, 60px);
        grid-template-areas:
            "header"
            "content"
            "footer"
        ;

        .cp-modal-header {
            grid-area: 'header';
            border-bottom: 1px solid #dfdfdf;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 10px;

            span {
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
            }
        }


        .cp-modal-context {
            grid-area: 'content';
            height: 100%;

                padding: 10px;
                max-height: 100%;
                // overflow-y: auto;

                display: grid;
                grid-template-areas:
                    'button'
                    'list'
                ;
                grid-template-columns: 100%;
                grid-template-rows: 50px auto;
                gap: 10px;

                .cp-upload-bt {
                    grid-area: 'button';
                    width: 100%;
                    border: 2px dashed #aaaaaa;
                    background-color: transparent;
                    padding: 10px;
                }

                .cp-file-input {
                    display: none;
                }

                .cp-upload-list {
                    grid-area: 'list';
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;

                    overflow: auto;
                }

        }

        .cp-modal-footer {
            grid-area: 'footer';
            border-top: 1px solid #dfdfdf;


            display: grid;
            grid-template-columns: 50% 50%;
            padding: 5px;

            .cp-footer-action-box {
                width: 100%;
                height: 100%;

                padding: 6px;

                &:nth-child(1) {
                    text-align: start;
                }

                &:nth-child(2) {
                    text-align: end;
                }

                button {
                    border-radius: 5px;
                    border: 1px solid #aaaaaa;
                    height: 100%;
                    padding-inline: 30px;

                    &.cp-upload-bt {
                        // background-color: green;
                    }

                    &.cp-close-bt {
                        // background-color: red;
                    }
                }
            }



        }
    }
}






.cp-upload-file-item {
    padding: 0px 10px;
    width: 100%;

    display: grid;
    grid-template-areas: 'icon context action';
    grid-template-columns: minmax(auto, 35px) auto minmax(auto, 50px);

    border-bottom: 1px solid #eeeeee;


    &:has(.cp-item-action[aria-disabled=true]) {
        grid-template-areas: 'icon context';
        grid-template-columns: minmax(auto, 35px) auto;

        .cp-item-action {
            display: none;
        }
    }

    &:nth-last-child(1) {
        border-bottom: none;
    }

    .cp-item-icon {
        grid-area: 'icon';

        display: flex;
        justify-content: flex-start;
        align-items: center;


        .cp-icon {
            width: 60%;
            font-size: 50px;
        }
    }

    .cp-item-content {
        grid-area: 'context';
        padding-block: 5px;

        .cp-file-name {
            font-size: 14px;
            word-break: break-all;
        }


        .cp-progress-box {
            width: 100%;
            background-color: #dddddd;
            height: 5px;
            margin-top: 4px;
            overflow: hidden;

            .cp-progress-bar {
                height: 100%;
                width: 60px;
                border-radius: 5px;
                background-color: #4caf50;
                transition: width 0.3s ease;
                transform: translate(-30px);
                animation-name: loop-progress;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                transition: 0.3s;


                @keyframes loop-progress {

                    to {}

                    100% {
                        transform: translate(500px);
                    }

                    from {
                        transition: none;
                        transform: translate(-50px);
                    }
                }
            }
        }

        .cp-message {
            font-size: 12px;
        }
    }

    .cp-item-action {
        grid-area: 'action';
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        .cp-action-bt {
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                transform: rotate(20deg);
            }
        }
    }


    &[data-state=error] {
        .cp-progress-box {
            .cp-progress-bar {
                height: 100%;
                width: 100%;
                border-radius: 5px;
                background-color: #cd3333;
                animation: none;
                transform: translate(0px);
            }
        }

        .cp-message {
            color: #cd3333;
            font-weight: bold;
        }
    }

    &[data-state=complete] {
        .cp-progress-box {
            .cp-progress-bar {
                height: 100%;
                width: 100%;
                border-radius: 5px;
                background-color: #4caf50;
                animation: none;
                transform: translate(0px);
            }
        }

    }
}