@use '../../../../assets/style/common/variable.scss' as variable;

.cp-header {
    // padding: 10px;
    overflow: hidden;


    .cp-header-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        display: grid;
        grid-template-areas: 'header-menu header-action';
        // grid-template-columns: 50px auto 50px;
        grid-template-columns: minmax(min-content, 50%) minmax(min-content, 50%);
        grid-template-rows: 100%;

        justify-content: initial;

        padding: 10px;

        .cp-header-icon {
            grid-area: header-menu;
        }



        .cp-header-action {
            grid-area: header-action;
            text-align: end;
            // width: 50px;
        }

        svg {
            font-size: 1.0rem;
        }
    }


    @media screen and (min-width : #{variable.$screen-width-mobile}) {

        .cp-header-box {

            // display: grid;
            // grid-template-areas: 'menu search action';

            .cp-expand-bt {
                // grid-area: menu;
                display: none;
            }


            .cp-header-search-box {
                // grid-area: search;
            }
        }


    }

    @media screen and (max-width : #{variable.$screen-width-mobile}) {

        width: 100%;



        .cp-header-box {}

    }

}