.cp-add-folder-modal {


    .cp-modal-box {
        width: 95%;
        max-width: 400px;

        .cp-modal-context {
            padding-block: 20px;
            padding-inline: 20px;



            .cp-input-folder-name {
                width: 100%;
                border: 1px solid #aaaaaa;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 4px;
            }

            .cp-error-message {
                // display: none;
                font-size: 12px;
                color: #cd3333;
                font-weight: bold;
            }
        }


    }
}