.cp-file-add-page {

    width: 100%;
    min-height: 100%;

    .cp-page-header {
        // margin-block: 10px;
    }

    .cp-page-context-backup {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;

        .left-context {
            max-width: 400px;
            min-width: 300px;

            flex-grow: 0;


            .upload-file-preview {
                width: 100%;
                aspect-ratio: 1;
                border: 1px solid black;

                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    max-width: 100%;
                    height: 100%;
                }
            }
        }

        .right-context {
            min-width: 400px;
            flex-grow: 1;

            display: block;


            .add-form {




                .form-item {
                    width: 100%;

                    margin-bottom: 0px;

                    &:not(:nth-last-child(1)) {
                        margin-bottom: 10px;
                    }

                    &.cp-form-title {
                        input[type=text] {
                            width: 100%;
                            padding: 8px 14px;
                            border-radius: 5px;
                            border: 1px solid #aaaaaa;
                        }
                    }

                    &.cp-form-upload {

                        .cp-upload-box {
                            position: relative;

                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            border-radius: 5px;
                            border: 1px solid #aaaaaa;
                            // padding: 8px;
                            overflow: hidden;

                            .cp-upload-file-name {
                                flex-grow: 1;

                                border: none;
                                padding: 8px 14px;
                                margin-right: 100px;

                                &:disabled {
                                    background-color: initial;
                                    color: initial;
                                    cursor: initial;
                                }

                                &:placeholder-shown+.cp-upload-file-button {
                                    width: 100%;
                                }
                            }

                            .cp-upload-file-button {
                                width: 100px;

                                position: absolute;
                                top: 0;
                                right: 0;

                                padding: 8px;
                                border-radius: 5px;
                                border: none;
                                // border: 1px solid #aaaaaa;
                                background-color: rgba(var(--color-secondary-rgb), 0.7);
                                color: white;
                                font-weight: bold;
                                text-transform: uppercase;
                                cursor: pointer;
                                transition: 0.3s;
                                font-family: var(--global-font-family);

                                &:hover {
                                    background-color: rgba(var(--color-secondary-rgb), 0.9);
                                }


                            }

                            input[type=file] {
                                display: none;
                            }


                        }



                    }


                    .form-item-title {
                        margin-bottom: 4px;
                        display: block;
                    }

                    &.linear-item {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        padding: 10px;

                        .linear-item-title {}

                        .linear-item-value {
                            margin-left: 10px;
                        }
                    }
                }
            }


        }
    }



    .cp-page-context {
        width: 100%;
        height: 100%;
        min-height: 100%;


        .cp-upload-context {

            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            .cp-upload-box {
                width: 90%;
                border: 1px solid #dddddd;
                border-radius: 20px;
                box-shadow: 0px 0px 13px -8px gray;
                padding: 10px;
                height: 500px;

                display: flex;
                justify-content: space-between;
                align-items: flex-start;


                .cp-text-box {
                    width: 50%;
                    max-width: 400px;

                    flex-grow: 1;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 100%;

                    border: 1px solid #dddddd;
                    border-radius: 15px;

                    .cp-upload-button {
                        margin-top: 10px;
                        padding: 8px 25px;
                        border: 1px solid #aaaaaa;
                        border-radius: 8px;
                        cursor: pointer;
                        transition: 0.3s;

                        &:hover {
                            background-color: #cfcfcf;
                        }
                    }

                    .cp-upload-file-input {
                        display: none;
                    }
                }

                .cp-file-box {
                    width: 50%;
                    padding-inline: 10px;
                    height: 100%;

                    flex-grow: 1;

                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;

                    .cp-file-list {
                        // border: 1px solid black;
                        width: 100%;
                        height: 100%;
                        overflow: auto;
                        margin-bottom: 10px;


                        .cp-file-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 10px;
                            border-bottom: 1px solid #e0e0e0;

                            width: 100%;

                            .cp-file-icon {
                                font-size: 35px;
                                flex-grow: 0;
                                // padding-inline: 10px;
                                width: 60px;
                            }

                            .cp-file-info {
                                width: calc(90% - 60px);
                                flex-grow: 1;
                                padding-left: 10px;

                                .cp-file-name {
                                    width: calc(100% - 20px);
                                    font-size: 14px;
                                    display: block;

                                    // overflow: hidden;
                                    // white-space: nowrap;
                                    // text-overflow: ellipsis;
                                    word-break: break-all;
                                }

                                .cp-file-progress {
                                    width: calc(100% - 20px);
                                    height: 5px;
                                    background-color: #dddddd;
                                    margin-block: 5px;
                                    overflow: hidden;

                                    &[data-state=complete] {
                                        .cp-progress-bar {
                                            height: 100%;
                                            width: 100%;
                                            border-radius: 5px;
                                            background-color: #4caf50;
                                            animation: none;
                                            transform: translate(0px);
                                        }
                                    }

                                    &[data-state=error] {
                                        .cp-progress-bar {
                                            height: 100%;
                                            width: 100%;
                                            border-radius: 5px;
                                            background-color: #cd3333;
                                            animation: none;
                                            transform: translate(0px);
                                        }
                                    }

                                    .cp-progress-bar {
                                        height: 100%;
                                        width: 50px;
                                        border-radius: 5px;
                                        background-color: #4caf50;
                                        transition: width 0.3s ease;
                                        transform: translate(-30px);
                                        animation-name: loop-progress;
                                        animation-duration: 3s;
                                        animation-iteration-count: infinite;
                                        transition: 0.3s;


                                        @keyframes loop-progress {

                                            to {}

                                            100% {
                                                transform: translate(1000px);
                                            }

                                            from {
                                                transition: none;
                                                transform: translate(-50px);
                                            }
                                        }
                                    }
                                }

                                .cp-error-message {
                                    font-size: 12px;
                                    color: #cd3333;
                                    font-weight: bold;
                                }
                            }

                            .cp-file-action {
                                // width: 10%;
                                flex-grow: 0;

                                display: flex;
                                justify-content: flex-end;
                                align-items: center;

                                .cp-file-action-icon {
                                    transition: 0.3s;
                                    cursor: pointer;

                                    &:hover {
                                        transform: rotate(20deg);
                                    }
                                    margin-inline: 4px;
                                }
                            }



                            &:nth-last-child(1) {
                                border-bottom: none;
                            }
                        }
                    }

                    .cp-button-box {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .cp-next-bt {
                            padding: 6px 20px;
                            border: 1px solid #aaaaaa;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}