.cp-profile-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;



    .cp-profile-box {
        width: 1000px;
        height: 100%;

        display: grid;
        grid-template-areas: 'side content';
        grid-template-columns: min-content 1fr;
        grid-template-rows: 1fr;

        padding: 24px;

        column-gap: 24px;

        .cp-side {
            grid-area: side;
            width: 300px;

            .cp-side-card {
                padding: 24px;

                .cp-profile-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .cp-profile-avartar {
                        width: 80px;
                        aspect-ratio: 1;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        background: linear-gradient(135deg, #667eea, #764ba2);
                        border-radius: 50%;

                        color: white;
                        font-size: 32px;
                        font-weight: 600;
                    }
                }

                .cp-profile-name {
                    font-size: 20px;
                    font-weight: 600;
                    color: #1a202c;
                    margin-top: 20px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .cp-profile-email {
                    color: #64748b;
                    font-size: 14px;
                    margin-top: 4px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }
        }

        .cp-content {
            grid-area: content;


            .cp-nav {

                margin-bottom: 10px;

                .cp-profile-navigation {
                    width: 100%;
                    padding: 8px;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    gap: 4px;

                    .cp-nav-button {
                        flex: 1;
                        padding: 12px 16px;
                        border: none;
                        background: transparent;
                        border-radius: 8px;

                        cursor: pointer;
                        transition: all 0.3s ease;
                        color: #64748b;
                        text-decoration: none;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 4px;

                        .cp-nav-icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .cp-nav-title {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            font-size: 14px;
                            font-weight: 500;
                        }

                        &.cp-active {
                            background: linear-gradient(135deg, #667eea, #764ba2);
                            color: white;
                        }

                        &:not(.cp-active):hover {
                            background: #f1f5f9;
                            color: #1a202c;
                        }

                    }
                }

            }

            .cp-page-wrapper {
                .cp-profile-dashboard-page {



                    .cp-dashboard-statistics {
                        .cp-store-grid {
                            display: grid;
                            grid-template-areas:
                                'file-count file-traffic'
                            ;

                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: 1fr;
                            column-gap: 16px;
                            font-size: 14px;

                            .cp-grid-item {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                padding-inline: 4px;

                                .cp-grid-title {
                                    color: #64748b;
                                    flex: 1;

                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    gap: 8px;

                                }

                                .cp-grid-value {
                                    font-weight: 600;
                                    color: #1a202c;
                                }
                            }

                            .cp-file-count {
                                grid-area: file-count;
                            }

                            .cp-file-traffic {
                                grid-area: file-traffic;
                            }
                        }
                    }

                    .cp-dashboard-traffic {
                        .cp-traffic-chart {
                            height: 300px;
                        }
                    }
                }

                .cp-profile-account-page {
                    .cp-account-edit-data {
                        .cp-widget-header {
                            .cp-widget-action {
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                column-gap: 4px;

                                .cp-edit-common-button {
                                    border: none;
                                    background-color: transparent;
                                    cursor: pointer;
                                    aspect-ratio: 1;
                                    transition: 0.3s all;
                                    border-radius: 50%;

                                    &:has(.cp-button-icon.cp-loading) {
                                        pointer-events: none;
                                    }

                                    .cp-button-icon {
                                        color: #64748b;

                                        &.cp-loading {
                                            svg {
                                                animation: loading-rotate 0.3s infinite both ease-in;

                                                @keyframes loading-rotate {
                                                    0% {
                                                        transform: rotate(0deg);
                                                    }

                                                    100% {
                                                        transform: rotate(360deg);
                                                    }
                                                }
                                            }

                                        }
                                    }


                                    &:hover {
                                        box-shadow: 0px 0px 10px -3px #667eea;

                                        .cp-button-icon {
                                            color: #764ba2;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }


                .cp-widget {
                    margin-bottom: 10px;

                    .cp-widget-header {
                        padding: 20px 24px;
                        border-bottom: 1px solid #f1f5f9;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;


                        .cp-widget-title {
                            font-size: 18px;
                            font-weight: 600;
                            color: #1a202c;

                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 8px;
                        }

                        &:nth-last-of-type(1) {
                            margin-bottom: 0px;
                        }
                    }

                    .cp-widget-content {
                        padding: 20px 24px;


                        .cp-error-box {
                            padding: 20px 24px;

                            .cp-error-icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .cp-error-title {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                margin-top: 10px;

                                font-size: 16px;
                                font-weight: 600;
                            }

                            .cp-error-desc {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                font-size: 14px;
                                color: #64748b;

                                margin-top: 4px;
                            }
                        }
                    }
                }
            }
        }

        .cp-group-box {
            border: 1px solid #e2e8f0;
        }
    }

    .cp-profile-page {}
}





@media screen and (max-width: 480px) {
    .cp-profile-layout {
        max-width: 100vw;

        .cp-profile-box {
            grid-template-areas:
                'side'
                'content'
            ;
            grid-template-columns: 1fr;
            grid-template-rows: min-content 1fr;

            .cp-side {
                width: 100%;
                margin-bottom: 10px;
            }

            .cp-content {

                .cp-nav {}

                .cp-page-wrapper {
                    .cp-profile-dashboard-page {



                        .cp-dashboard-statistics {
                            .cp-store-grid {
                                grid-template-areas:
                                    'file-count'
                                    'file-traffic'
                                ;
                                grid-template-columns: 1fr;
                                grid-template-rows: repeat(auto-fill, min-content);
                                row-gap: 10px;

                                .cp-grid-item {
                                    height: 40px;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}