@import url('../../layout/SystemInstallPageCommonLayout.scss');

.cp-install-page.cp-install-block {
  


    .cp-content {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        height: 100%;

        .cp-title {
            font-size: 20px;
            font-weight: bold;
        }

        .cp-subtitle {
            margin-top: 10px;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            font-size: 14px;

            span {
                display: block;
            }
        }



    }
}