.cp-common-page {

    // padding-inline: 0px;
    // padding-bottom: 30px;

    // min-height: 100%;

    &>* {
        display: none !important; 
    }


    .cp-page-header {
        .cp-page-title {
            font-size: 20px;
            font-weight: bold;
        }
    }

    .cp-page-content {
        width: 100%;
    }
}