.cp-common-page {

    padding-inline: 10px;
    padding-bottom: 30px;

    .cp-page-header {
        .cp-page-title {
            font-size: 20px;
            font-weight: bold;
        }
    }

    .cp-page-content {
        width: 100%;
    }
}