
@use './variable.scss' as variable;
@use './reset.css';






:root {
    font-family: 'Pretendard Variable', 'Noto Sans KR';
    --vh: 1vh;
    --screen-width-mobile: #{variable.$screen-width-mobile};
    --screen-width-tablet: #{variable.$screen-width-tablet};
    --screen-width-labtop: #{variable.$screen-width-labtop};
    --screen-width-desktop: #{variable.$screen-width-desktop};


    --color-primary : #{variable.$color-primary};
    --color-primary-rgb : #{variable.hexToRGB(variable.$color-primary)};

    --color-secondary : #{variable.$color-secondary};
    --color-secondary-rgb : #{variable.hexToRGB(variable.$color-secondary)};
    --cp-global-font-family : 'Pretendard Variable', 'Noto Sans KR';
}


* {
    box-sizing: border-box;
}

body {
    height: calc(var(--vh) * 100);
    max-height: calc(var(--vh) * 100);
    overflow: hidden;
}


#root {
    overflow: hidden;
    height: 100%;
    // font-family: 'Pretendard Variable', 'Noto Sans KR';



    .cp-root-layout {
        width: 100%;
        height: 100%;
    }
}