.cp-page-layout.cp-dashboard-layout {


    .cp-page-header {
        width: 100%;
        padding: 0 10px 10px;

        .cp-page-title {

            justify-content: flex-start;
            align-items: center;
            font-size: 20px;
            font-weight: bold;
            display: flex;


            .cp-title-icon {
                margin-right: 6px;
            }
        }
    }

    .cp-page-content {
        width: 100%;
        padding-left: 2px;
        padding-right: 10px;

        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
}