:root {
    --top-header-height: 60px;
    --toolbar-header-height: 50px;
    --header-height: calc(var(--top-header-height) + var(--toolbar-header-height))
}

.cp-explorer-page {
    height: 100%;
    overflow: hidden;

    .cp-page-header {

        width: 100%;

        .cp-top-header {

            background: white;
            border-bottom: 1px solid #e2e8f0;
            padding: 16px 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            height: var(--top-header-height);


            .cp-flex-left {
                .cp-back-bt {
                    width: 34px;
                    aspect-ratio: 1;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background: #f1f5f9;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                    font-size: 16px;
                    transition: all 0.3s ease;
                }
            }

            .cp-flex-right {

                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 8px;



            }





        }

        .cp-toolbar-header {

            background: white;
            border-bottom: 1px solid #e2e8f0;
            padding: 16px 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            height: var(--toolbar-header-height);


            .cp-flex-left {


                .cp-search-box {

                    // display: flex;
                    // justify-content: flex-start;
                    // align-items: center;
                    // gap: 10px;

                    position: relative;
                    max-width: 300px;
                    flex: 1;

                    .cp-search-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        position: absolute;
                        right: 12px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #64748b;
                        font-size: 14px;
                        cursor: pointer;
                    }

                    .cp-search-input {
                        width: 100%;
                        padding: 8px 36px 8px 12px;
                        border: 1px solid #e2e8f0;
                        border-radius: 8px;
                        font-size: 14px;
                        background: #f8fafc;
                        outline: #667eea;


                        &:active,
                        &:focus {
                            border: 2px solid #667eea;
                        }
                    }


                }
            }

            .cp-flex-right {

                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 8px;

                .cp-sort-type-bt {
                    padding: 8px;
                }

                .cp-refresh-bt {
                    padding: 8px;
                }



                .cp-sort-category-bt {}



            }


        }




        // COMMON
        .cp-header-bt {

            height: 38px;

            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 16px;
            border: 1px solid #e2e8f0;
            background: white;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease;


            .cp-button-icon {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .cp-button-text {
                display: flex;
                justify-content: center;
                align-items: center;
            }


            &:hover {
                border-color: #667eea;
                color: #667eea;
            }

            &.cp-header-icon-bt {

                padding: 8px;

                .cp-button-text {
                    display: none;
                }
            }
        }
    }

    .cp-page-content {
        padding: 8px 24px;
        overflow: auto;
        height: 100%;

        .cp-file-list-box {
            height: 100%;


            .cp-file-list {
                width: 100%;
                height: 100%;
                border: 1px solid #e2e8f0;
                border-radius: 12px;
                overflow: hidden;

                .cp-list-table {
                    width: 100%;
                    height: 100%;

                    display: grid;
                    grid-template-areas:
                        'head'
                        'body'
                        'foot'
                    ;
                    grid-template-rows: min-content 1fr min-content;
                    grid-template-columns: 1fr;



                    .cp-table-row {
                        display: grid;
                        grid-template-areas: 'icon title size action';
                        grid-template-rows: 1fr;
                        grid-template-columns: 50px 1fr 100px 200px;

                        .cp-item-icon {
                            grid-area: icon;
                        }

                        .cp-item-title {
                            grid-area: title;
                        }

                        .cp-item-size {
                            grid-area: size;
                        }

                        .cp-item-action {
                            grid-area: action;
                        }
                    }




                    .cp-table-header {
                        grid-area: head;

                        background-color: #667eea;
                        background: #f8fafc;
                        border-bottom: 1px solid #e2e8f0;
                        padding-right: 10px;




                        .cp-table-row.cp-header-row {
                            padding-block: 8px;
                            font-size: 14px;
                            height: 40px;
                            align-items: center;

                            .cp-item-action {
                                text-align: center;
                            }

                            .cp-item-size {
                                text-align: center;
                            }

                            .cp-item-title {
                                padding-left: 10px;
                            }
                        }
                    }


                    .cp-table-content {
                        grid-area: body;

                        overflow-y: scroll;

                        // SCROLL
                        & {
                            &::-webkit-scrollbar {
                                width: 10px;
                                height: 10px;
                            }

                            /* 스크롤바 트랙(배경) 스타일링 */
                            &::-webkit-scrollbar-track {
                                background: #f1f1f1;
                            }

                            /* 스크롤바 핸들(thumb) 스타일링 */
                            &::-webkit-scrollbar-thumb {
                                background-color: #888;
                                border-radius: 5px;
                                border: 2px solid #f1f1f1;
                                /* 핸들 주변에 여백을 주기 위해 */
                            }
                        }



                        .cp-table-row.cp-item-row {
                            height: 40px;
                            align-items: center;
                            transition: all 0.3s ease;
                            font-size: 14px;

                            &:hover {
                                background: #f8fafc;
                            }

                            .cp-item-icon {
                                text-align: center;
                            }

                            .cp-item-title {
                                padding-left: 10px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                                .cp-item-link {
                                    text-decoration: none;
                                    color: inherit;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }

                            }

                            .cp-item-size {
                                color: #64748b;
                                text-align: center;

                            }
                        }
                    }

                    .cp-table-footer {
                        grid-area: foot;
                        height: 50px;
                        background: #f8fafc;
                        border-top: 1px solid #e2e8f0;

                        display: grid;
                        grid-template-rows: 1fr;
                        grid-template-columns: minmax(100px, min-content) 1fr minmax(100px, min-content);
                        grid-template-areas: 'size page count';
                        align-items: center;

                        padding-inline: 16px;

                        .cp-table-pagesize-dropdown {
                            grid-area: size;

                            .cp-change-pagesize-bt {
                                background: #fff;
                                border: 1px solid #e2e8f0;
                                border-radius: 8px;
                                padding: 8px 16px;
                                font-size: 14px;
                                text-wrap: nowrap;
                                cursor: pointer;
                            }
                        }


                        .cp-table-pagination {
                            grid-area: page;
                            text-align: center;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;

                            .cp-pagination-bt {
                                border: none;
                                background-color: transparent;
                                cursor: pointer;



                                display: flex;
                                justify-content: center;
                                align-items: center;

                                position: relative;
                                overflow: hidden;

                                &.cp-static-bt {
                                    svg {
                                        font-size: 40px;
                                        width: 20px !important;
                                        height: 20px !important;
                                    }
                                }

                                &.cp-move-page-bt {
                                    font-size: 14px;
                                    width: 20px;
                                    height: 20px;
                                    transition: 0.3s;



                                    &::before {
                                        content: ' ';
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 2px;
                                        background: linear-gradient(135deg, #667eea, #764ba2);
                                        transition: 0.3s;
                                        transform: translateX(-100%);
                                    }

                                    &:hover {
                                        &::before {
                                            transform: translateX(0%);
                                        }
                                    }
                                }

                                &.cp-current-page {
                                    transition: 0s;
                                    border-radius: 20px;
                                    color: #fff;
                                    background: linear-gradient(135deg, #667eea, #764ba2);
                                }
                            }
                        }

                        .cp-table-list-count {
                            grid-area: count;
                            font-size: 14px;
                            word-break: keep-all;
                            text-wrap: nowrap;
                            text-align: end;
                        }
                    }
                }
            }

            .cp-file-list-loading {
                width: 100%;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;

                .cp-loading-dot {
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background-color: #667eea;
                    animation: loading-animation 1s infinite ease-in-out;

                    &:nth-child(1) {
                        animation-delay: 0.1s;
                    }

                    &:nth-child(2) {
                        animation-delay: 0.2s;
                    }

                    &:nth-child(3) {
                        animation-delay: 0.3s;
                    }

                    &:nth-child(4) {
                        animation-delay: 0.4s;
                    }

                    &:nth-child(5) {
                        animation-delay: 0.5s;
                    }

                    @keyframes loading-animation {

                        0%,
                        100% {
                            height: 10px;
                        }

                        50% {
                            height: 30px;
                        }
                    }
                }
            }


            .cp-load-error {
                width: 100%;
                height: 70%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;

                .cp-error-icon {
                    margin-bottom: 20px;

                }

                .cp-error-message {
                    color: #64748b;
                }

                .cp-refresh {
                    margin-top: 20px;

                    .cp-refresh-bt {
                        text-decoration: none;
                        background: linear-gradient(135deg, #667eea, #764ba2);
                        color: white;
                        border: none;

                        padding: 12px 20px;
                        border-radius: 8px;
                        font-size: 14px;
                        font-weight: 500;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        transition: 0.3s;

                        &:hover {
                            filter: grayscale(0.5);
                        }
                    }
                }
            }
        }
    }
}


.cp-sort-category-select-modal {

    height: 0px;
    width: 150px;
    overflow: hidden;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    transition: height 0.3s;

    position: absolute;

    &.active {
        height: var(--list-height);
    }


    .cp-sort-category-list {




        .cp-category-item {
            padding: 8px 16px;
            background-color: #fff;
            cursor: pointer;

            font-size: 14px;


            &:hover {
                background: #f8fafc;
            }
        }
    }
}


.cp-change-pagesize-modal {
    height: 0px;
    width: 150px;
    overflow: hidden;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    transition: height 0.3s;

    position: absolute;

    &.active {
        height: var(--list-height);
    }

    .cp-list-box {




        .cp-list-item {
            padding: 8px 16px;
            background-color: #fff;
            cursor: pointer;

            font-size: 14px;


            &:hover {
                background: #f8fafc;
            }
        }
    }
}


.cp-global-modal {
    &.cp-explorer-new-folder-modal {

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .cp-modal-box {
            width: 400px;
            background-color: white;

            border: 1px solid rgba(194, 200, 207, 0.486);
            border-radius: 20px;
            box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);


            .cp-modal-header {
                padding: 16px 20px;
                font-size: 16px;
                font-weight: 600;
                color: #374151;
            }

            .cp-modal-content {
                padding: 0px 20px;


                .cp-input-label {

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    label {
                        display: block;
                        font-size: 14px;
                        font-weight: 500;
                        color: #374151;
                        margin-bottom: 6px;

                        &.cp-overflow {
                            color: #cb2f2f;
                        }
                    }
                }


                .cp-new-folder-input {
                    width: 100%;
                    padding: 12px 16px;
                    border: 1px solid #d1d5db;
                    border-radius: 8px;
                    font-size: 14px;
                    transition: all 0.3s ease;
                    outline: none;

                    &:focus {
                        outline: none;
                        border-color: #667eea;
                        box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
                    }
                }
            }

            .cp-modal-footer {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                padding: 16px 20px;
                column-gap: 8px;

                button {
                    cursor: pointer;
                    border: none;
                    border-radius: 8px;
                    align-items: center;
                    gap: 8px;
                    padding: 8px 16px;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    transition: all .3s;
                    display: flex;
                    background-color: #eeeeee;
                    height: 30px;


                    &.cp-active-bt {
                        color: #fff;
                        background: linear-gradient(135deg, #667eea, #764ba2);

                        .cp-loader {
                            display: none;
                        }

                        &:disabled {
                            filter: grayscale(1);
                        }

                        &:not(:disabled):hover {
                            transform: translateY(-1px);
                            box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
                        }


                        &.cp-loading {



                            .cp-loader {
                                width: 100%;
                                height: 100%;

                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-wrap: nowrap;

                                column-gap: 2px;

                                .cp-loader-dot {
                                    width: 5px;
                                    aspect-ratio: 1;
                                    background-color: white;
                                    border-radius: 3px;

                                    animation: loading-dot 0.5s infinite;

                                    @keyframes loading-dot {

                                        0%,
                                        100% {
                                            transform: translateY(-50%);
                                        }

                                        50% {
                                            transform: translateY(50%);
                                        }
                                    }

                                    &:nth-child(1) {
                                        animation-delay: 0.1s;
                                    }

                                    &:nth-child(2) {
                                        animation-delay: 0.2s;
                                    }

                                    &:nth-child(3) {
                                        animation-delay: 0.3s;
                                    }
                                }
                            }

                            .cp-button-text {
                                display: none;
                            }
                        }
                    }


                    &:not(:disabled):hover {
                        transform: translateY(-1px);
                        box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
                    }

                }



            }
        }





    }
}



@media screen and (max-width : 768px) {
    .cp-explorer-page {
        .cp-page-content {
            .cp-file-list-box {
                .cp-file-list {
                    .cp-list-table {
                        // --row-grid-template-default: 50px 1fr 70px 0px;
                        // --row-grid-template-area-default: 'icon title size action';



                        thead {
                            display: none;
                        }

                        tbody {

                            .cp-list-item {
                                display: grid;
                                grid-template-columns: 50px 1fr;
                                grid-template-rows: min-content min-content;
                                grid-template-areas:
                                    'icon title'
                                    'icon size'
                                ;

                                align-items: center;

                                &[data-type=folder] {
                                    grid-template-areas: 'icon title';
                                    grid-template-rows: min-content;

                                    .cp-item-title {
                                        padding-bottom: 0px;
                                    }

                                    .cp-item-size,
                                    .cp-item-action {
                                        display: none;

                                    }
                                }

                                .cp-item-icon {
                                    grid-area: icon;
                                }

                                .cp-item-title {
                                    grid-area: title;
                                    padding-inline: 0px !important;
                                    padding-bottom: 4px;
                                }

                                .cp-item-size {
                                    grid-area: size;
                                    text-align: start !important;
                                    font-size: 12px !important;
                                }

                                .cp-item-action {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}





// MOBILE
@media screen and (max-width: 480px) {
    .cp-global-modal {
        &.cp-explorer-new-folder-modal {
            width: 100vw;
            .cp-modal-box {
                width: 100%;
            }
        }
    }
}