@use '../../../../assets/style/common/variable.scss' as variable;

.cp-button.cp-avartar-bt {
    border: 1px solid rgba(var(--color-primary-rgb), 0.5);
    width: 30px;

    aspect-ratio: 1;
    border-radius: 30px;
    background-color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}