.cp-global-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--vh) * 100);
    // background-color: #aaaaaa;
    backdrop-filter: blur(20px);


    z-index: 10000;


    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;

    display: none;


    &[data-loading=true] {
        display: flex;
    }


    .cp-loading {

        animation-name: rotate_animation;
        animation-duration: 3s;
        animation-iteration-count: infinite;

        @keyframes rotate_animation {
            0% {
                transform: rotate3d(0.1, 0.0, 0.0, 0deg);
            }


            100% {
                transform: rotate3d(0.1, 0.0, 0.0, 720deg);
            }


        }

    }
}