 .cp-item-list-dropzone {
     width: 100%;
     min-height: 100%;
     height: 100%;


    //  padding-inline-start: 10px;



     .cp-item-list {
         width: 100%;
        //  height: fit-content;
     }

     .cp-dropzone-input {
         display: none;
     }





     .cp-dropzone-viewbox {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         //  background-color: black;
         backdrop-filter: blur(10px);

         display: grid;
         place-items: center;
         visibility: hidden;
         pointer-events: none;
     }


     &[data-enable-dropzone=true] {
         position: relative;
         .cp-dropzone-viewbox{
            visibility: visible;
         }
     }
 }