.cp-folder-item.cp-item-linear {
    min-height: 50px;

    display: grid;


    grid-template-areas: 'checkbox icon title';
    grid-template-columns: 20px 20px auto;
    align-items: center;

    gap: 5px;

    font-size: 14px;
    padding-inline: 20px;

    user-select: none;

    cursor: pointer;

    &:hover {
        background: #efefef;
    }


    &[data-disabled-select=true] {
        .cp-item-check-box {
            display: none;
        }
    }

    .cp-item-check-box {
        grid-area: checkbox;

        display: grid;
        place-items: center;

        svg {
            color: rgb(206, 206, 206);
        }

    }

    .cp-item-type-icon {
        grid-area: icon;
        display: grid;
        place-items: center;


    }


    .cp-item-title {
        grid-area: title;
    }

    &[data-selected=true] {
        background: #efefef;

        .cp-item-check-box {
            svg {
                color: #48afcf;
            }

        }

        border-left: 3px solid #48afcf;
    }


    &.cp-item-file {
        grid-template-areas: 'checkbox icon title published size action';
        grid-template-columns: 20px 20px auto max-content minmax(100px, max-content) minmax(100px, max-content);

        .cp-item-published {
            grid-area: published;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            svg {
                margin-right: 4px;
                color: #424a87;
            }
        }

        .cp-item-size {
            grid-area: size;
            text-align: end;
        }

        .cp-item-action {
            grid-area: action;
            text-align: end;
            display: flex;
            justify-content: flex-end;
            align-items: center;


            .cp-action-bt {




                cursor: pointer;

                width: 28px;
                aspect-ratio: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 24px;
                transition: 0.3s;
                color: initial;

                &:hover {
                    box-shadow: 0px 0px 6px -2px gray;
                    background-color: #b9b9b9;
                }

                .cp-action-bt-icon {}
            }
        }
    }

    &.cp-item-folder {
        // grid-template-areas: 'checkbox icon title';
        // grid-template-columns: 20px 20px auto;
    }







}


body[data-device=mobile] {
    .cp-folder-item.cp-item-linear {
        grid-template-areas: 'checkbox icon title size';
        grid-template-columns: 20px 20px auto minmax(100px, max-content);
    }
}