.cp-toggle-bt {
    width: 34px;
    border: 1px solid #aaaaaa;
    border-radius: 40px;

    .cp-toggle-move-box {
        padding: 2px;
             cursor: pointer;

        .cp-toggle-circle {
            width: 14px;
            aspect-ratio: 1;
            // border: 1px solid hsl(0, 0%, 67%);
            border-radius: 16px;
       
            background-color: #aaaaaa;
            transition: 0.3s;
        }
    }


    &[data-toggle-state=true] {
        background-color: #6060b9;

        .cp-toggle-move-box {
            .cp-toggle-circle {
                transform: translate(100%);
                background-color: white;
            }

        }
    }
}