.cp-folder-item-list {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}



body[data-device=mobile] {
    --line-count: 3;

    .cp-folder-item-list {
        width: 100%;
        justify-content: flex-start;
        gap: 0;
    }
}