.cp-group.cp-layout {
    width: 100%;
    min-height: 100%;
    
    .cp-page-header{

        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        .cp-title {
            font-size: 30px;
            font-weight: bold;
        }

        
    }
}