@import url('../../layout/SystemInstallPageCommonLayout.scss');

.cp-install-page.cp-install-start {
    


    .cp-content {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        height: 100%;

        .cp-title {
            font-size: 20px;
            font-weight: bold;
        }

        .cp-subtitle {}


        .cp-next-bt {

            width: 200px;
            height: 40px;

            display: flex;
            justify-content: center;
            align-items: center;

            border: 1px solid gray;
            text-decoration: none;
            color: initial;

            cursor: pointer;
            border-radius: 20px;

            position: relative;
            overflow: hidden;

            transition: 0.5s;
            font-weight: bold;

            animation-name: active-page;
            animation-duration: 1s;
            animation-fill-mode : both;



            .cp-bt-text {
                z-index: 10;
            }


            &::before {
                content: '';
                width: 200%;
                aspect-ratio: 1;
                background-color: black;
                position: absolute;
                top: 0;
                left: 0;

                border-radius: 200%;

                transition: 0.5s;

                transform: translateX(-100%) translateY(-50%);
                z-index: 9;
            }

            &:hover {
                color: white !important;

                &::before {
                    transform: translateX(-10%) translateY(-50%);

                }
            }

            @keyframes active-page {
                0% {
                    margin-top: 0px;
                }

                100% {
                    margin-top: 50px;
                }
            }

        }
    }
}