


.cp-remove-file-modal{

      .cp-modal-context{
            padding-inline: 10px;
            padding-block: 20px;
            height: fit-content;
        }


    .cp-remove-file-modal-box{
        width: 400px;
    }
}