.cp-category-section.cp-user-section {
    .cp-section-header {

        padding-block: 10px;


        .cp-section-title {
            font-size: 16px;
            font-weight: bold;
            display: block;
        }

        .cp-section-desc {
            font-size: 12px;
            display: block;
            margin-top: 3px;
        }
    }

    .cp-section-content {
        border-top: 1px solid #e7e7e7;
        padding-block: 10px;
    }
}