.cp-category-section.cp-user-section {
    .cp-section-header {

        padding-block: 10px;


        .cp-section-title {
            font-size: 16px;
            font-weight: bold;
            display: block;
        }

        .cp-section-desc {
            font-size: 12px;
            display: block;
            margin-top: 3px;
        }
    }

    .cp-section-content {
        border-top: 1px solid #e7e7e7;
        padding-block: 10px;


        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-flow: dense;
        // gap: 10px;

        .cp-section-line {
            padding-inline: 10px;
            padding-block: 6px;
            display: grid;
            grid-template-areas: 'key value';
            grid-template-columns: 50% 50%;
            align-items: center;

            font-size: 14px;


            &:nth-child(2n) {
                padding-right: 0px;
                border-left: 1px solid #e7e7e7;
            }

            &:nth-child(2n+1) {
                padding-left: 0px;
            }


            .cp-section-key {
                grid-area: key;
            }

            .cp-section-value {
                text-align: end;
                grid-area: value;
            }
        }
    }
}


body[data-device=mobile] {
    .cp-category-section.cp-user-section {
        padding-inline: 10px;
        .cp-section-content {
            grid-template-columns: 100%;


            .cp-section-line {

                &:nth-child(2n) {
                    padding-inline: 0px;
                    border-left: none;
                }

                &:nth-child(2n+1) {
                    padding-inline: 0px;
                }

            }

        }
    }
}