.cp-profile-bt {}


.cp-profile-box {
    width: 200px;
    height: fit-content;

    position: absolute;
    right: 10px;
    top: 50px;

    border: 1px solid rgb(194, 194, 194);
    border-radius: 8px;
    background-color: white;

    overflow: hidden;


    ul {
        width: 100%;


        .cp-profile-item {
            &.cp-profile-header {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                margin-block: 10px;

                .cp-profile-avartar{
                    width: 30px;
                    aspect-ratio: 1;
                    border: 1px solid rgb(194, 194, 194);
                    border-radius: 50px;
                }

                .cp-profile-name{
                    font-size: 14px;
                    margin-top: 4px;
                }
            }

            &.cp-profile-menu {
                padding: 10px;
                border-top: 1px solid rgb(194, 194, 194);
                font-size: 14px;
                transition: 0.2s background-color;

                cursor: pointer;

                &:hover {
                    background-color: rgb(194, 194, 194);
                }
            }
        }


    }
}