.cp-upload-monitor-item {
    width: 100%;
    padding: 10px;
    max-width: 100%;

    display: grid;
    grid-template-areas:
        'info     action'
        'progress action'
    ;
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;

    .cp-file-info {
        grid-area: info;
        min-width: 0;
        width: 100%;

        font-size: 14px;
        //   overflow-x: auto;

        .cp-file-name {
            // width: 100%;
            // max-width: 100%;
            min-width: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
        }

        .cp-file-desc {

            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;

            .cp-file-size {
                font-size: 11px;
            }

            .cp-file-save-dir {
                font-size: 11px;
                max-width: 200px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;


                .cp-file-dir-icon {
                    margin-right: 4px;
                }
            }
        }

    }

    .cp-upload-progress {
        grid-area: progress;

        width: 100%;
        height: 6px;
        background-color: black;

        position: relative;
        border-radius: 10px;

        overflow: hidden;

        margin-top: 4px;

        .cp-progress-bar {
            background-color: green;
            position: absolute;
            top: 0;
            left: 0;
            width: var(--progress-state);
            height: 100%;
            border-radius: 10px;
            transition: 0.3s width;



        }


        &[data-mode=loop] {
            .cp-progress-bar {
                --progress-bar-size: 80px;
                width: var(--progress-bar-size);
                animation-name: infinity-progress;
                animation-iteration-count: infinite;
                animation-duration: 2s;

                @keyframes infinity-progress {
                    0% {
                        left: calc(var(--progress-bar-size) * -1);
                    }

                    100% {
                        left: calc(100% + var(--progress-bar-size));
                    }
                }
            }
        }
    }

    .cp-progress-message {
        font-size: 12px;
        color: #b92a2a;
        font-weight: bold;
    }

    .cp-file-action {
        grid-area: action;
        padding: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        gap: 10px;

        .cp-success-icon {
            color: green;
        }


        .cp-item-bt {
            cursor: pointer;
        }
    }
}